## santoshhulbutti@gmail.com   |   Flip Robo Technologies   |   Project Internship #31

## Assignment #1: Web scrapping using Beautiful Soup
##

In [1]:
# Importing necessary libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

### 1) Write a python program to display all the header tags from wikipedia.org.

In [2]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(page.content)


#There are six levels of headings. These are h1, h2, h3, h4, h5, & h6
headers_list = ['h1', 'h2','h3','h4','h5','h6']


#for loop to print headers
for x in headers_list:
    dummy_list = soup.find_all(x)
    headers = []
    for i in dummy_list:
        headers.append(i.get_text().strip())
    print(x, 'headers are: ', headers, '\n')

h1 headers are:  ['Main Page', 'Welcome to Wikipedia']

h2 headers are:  ["From today's featured article", 'Did you know\xa0...', 'In the news', 'On this day', "From today's featured list", "Today's featured picture", 'Other areas of Wikipedia', "Wikipedia's sister projects", 'Wikipedia languages', 'Navigation menu']

h3 headers are:  ['Personal tools', 'Namespaces', 'Views', 'Search', 'Navigation', 'Contribute', 'Tools', 'Print/export', 'In other projects', 'Languages']

h4 headers are:  []

h5 headers are:  []

h6 headers are:  []

### 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [3]:
top_100_movies = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&count=100')
movies = BeautifulSoup(top_100_movies.content)


#Creating empty lists to store data
movies_list = []
movies_year = []
movie_ratings = []


#get the required data
get_list = movies.find('div', class_='lister-list')
top_100 = get_list.find_all('h3', class_='lister-item-header')
top_100_ratings = get_list.find_all('div', class_='inline-block ratings-imdb-rating')


#dummy variable initialisation for loop
x=0


# appending movie, release year & its rating to corresponding list using for loop
for i in top_100:
    movies_list.append(top_100[x].text.split('\n')[2])
    movies_year.append(top_100[x].text.split('\n')[3].replace('(','').replace(')',''))
    movie_ratings.append(top_100_ratings[x])
    x+=1

    
#Creating dataframe of gathered values:
TOP_100_MOVIES = pd.DataFrame(list(zip(movies_list, movies_year, movie_ratings)),
                              columns =['Movie_Name', 'Year_of_Release', 'Rating'],
                              index=pd.RangeIndex(start=1, stop=(len(movies_list)+1), name='Sr. No.'))


# Aligning the values of dataframe to the left
TOP_100_MOVIES = TOP_100_MOVIES.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th',
                                                                                      props=[('text-align', 'left')])])


#showing the Dataframe
TOP_100_MOVIES

### 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [4]:
url = "https://www.imdb.com/india/top-rated-indian-movies/?sort=ir,desc&mode=simple&page=1"


#getting web content data
top_100_ind_movies = requests.get(url)
ind_movies = BeautifulSoup(top_100_ind_movies.content)


#Creating empty lists to store data
ind_movies_list = []
ind_movies_year = []
ind_movie_ratings = []


#getting the required data from url
table = ind_movies.find('div', class_='lister')
movies = table.find_all('td', class_="titleColumn")
rating = table.find_all('td', class_="ratingColumn imdbRating")


#dummy variable initialisation for loop
x=0


#using for loop to scape data & appending to corresponding list
for i in movies:
    ind_movies_list.append(movies[x].text.split('\n')[2].lstrip())
    ind_movies_year.append(movies[x].text.split('\n')[3].lstrip().replace('(','').replace(')',''))
    ind_movie_ratings.append(rating[x].text.split('\n')[1])
    x+=1
    if x==100: # as we need to extraxt only top 100 highest rated movies
        break  # exiting loop


#Creating dataframe of gathered values:
TOP_100_IND_MOVIES = pd.DataFrame(list(zip(ind_movies_list, ind_movies_year, ind_movie_ratings)),
                              columns =['Movie_Name', 'Year_of_Release', 'Rating'],
                              index=pd.RangeIndex(start=1, stop=(len(ind_movies_list)+1), name='Sr. No.'))


#Aligning text for better display
TOP_100_IND_MOVIES = TOP_100_IND_MOVIES.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th',
                                                                                          props=[('text-align', 'left')])])


#Show DataFrame
TOP_100_IND_MOVIES

### 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [5]:
PoI_url = "https://presidentofindia.nic.in/former-presidents.htm"


#getting web content data
get_data = requests.get(PoI_url)
bs = BeautifulSoup(get_data.content)

list_of_prez = bs.find('ul', class_='listing cf')


#Creating empty lists to store data
prez_name = []
prez_term = []


#using for loop to scape data & appending to corresponding list
for i in list_of_prez.find_all('h3'):
    prez_name.append(i.text.split('(')[0].lstrip().rstrip())

for j in list_of_prez.find_all('div', class_="presidentListing"):
    prez_term.append(j.text.split('\n')[2].split(':')[1].lstrip().rstrip())
    
    
#Creating dataframe of gathered values:
Former_Presidents = pd.DataFrame(list(zip(prez_name, prez_term)),
                              columns =['Name', 'Term of Office'],
                              index=pd.RangeIndex(start=1, stop=(len(prez_name)+1), name='Sr. No.'))


#Aligning text for better display
Former_Presidents = Former_Presidents.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th',
                                                                                          props=[('text-align', 'left')])])


#Show DataFrame
Former_Presidents

### 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

#### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [6]:
top_odi_team_url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [7]:
#getting web content data
data_odi_team = requests.get(top_odi_team_url)
bs = BeautifulSoup(data_odi_team.content)

data_team = bs.find('table', class_="table")
teams_data = data_team.find_all('tr')


#Creating empty lists to store data
team_rank = []
team_name = []
team_matches = []
team_points = []
team_ratings = []



#Intializing dummy variable for counting
x=1


#using for loop to scape data & appending to corresponding list 
for i in teams_data:
    if x!=1: #as first item is table header, we dont require it.
        team_rank.append(i.find_all('td')[0].text.replace(' ', '').strip('\n').replace('\n', ' ').split(' ')[0])
        team_name.append(i.find_all('td')[1].text.split('\n')[2])
        team_matches.append(i.find_all('td')[2].text.replace(' ', '').strip('\n').replace('\n', ' ').split(' ')[0])
        team_points.append(i.find_all('td')[3].text.replace(' ', '').strip('\n').replace('\n', ' ').split(' ')[0])
        team_ratings.append(i.find_all('td')[4].text.replace(' ', '').strip('\n').replace('\n', ' ').split(' ')[0])
    if x > 10: #as we only require top 10 teams, skipping all other.
        break  # Exiting loop
    x+=1
    
    
#Creating dataframe of gathered values:
Top_10_ODI_Teams = pd.DataFrame(list(zip(team_rank, team_name, team_matches, team_points, team_ratings)),
                              columns =['Position', 'Team Name', 'Matches', 'Points', 'Rating'],)
Top_10_ODI_Teams = Top_10_ODI_Teams.set_index('Position')


#Aligning text for better display
Top_10_ODI_Teams = Top_10_ODI_Teams.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th',
                                                                                          props=[('text-align', 'left')])])


#Show DataFrame
Top_10_ODI_Teams

 #### b) Top 10 ODI Batsmen along with the records of their team and rating.

In [8]:
top_odi_batsmen_url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"

In [9]:
#getting web content data
data_odi_bat = requests.get(top_odi_batsmen_url)
bs = BeautifulSoup(data_odi_bat.content)

data_bat = bs.find('table', class_="table rankings-table")

In [10]:
#Creating empty lists to store data
bat_rank = []
bat_name = []
bat_team = []
bat_ratings = []


#Intializing dummy variables for counting
x=0
y=0


#using for loop to scape data & appending to corresponding list
for i in range(10):
    if x==0:
        bat_rank.append(data_bat.find('span', class_="rankings-block__pos-number").text.strip(' ').strip('\n').lstrip())
        bat_name.append(data_bat.find('div', class_="rankings-block__banner--name-large").text)
        bat_team.append(data_bat.find('div', class_="rankings-block__banner--nationality").text.replace('\n', '').rstrip())
        bat_ratings.append(data_bat.find('div', class_="rankings-block__banner--rating").text)
    
    if x!=0:
        bat_rank.append(data_bat.find_all('span', class_='rankings-table__pos-number')[y].text.replace(" ", '').replace("\n", ''))
        bat_name.append(data_bat.find_all('td', class_="table-body__cell rankings-table__name name")[y].text.replace('\n', ''))
        bat_team.append(data_bat.find_all('span', class_="table-body__logo-text")[y].text)
        bat_ratings.append(data_bat.find_all('td', class_="table-body__cell rating")[y].text)
        y+=1
        
    x+=1
    if x==10:
        break


#Creating dataframe of gathered values:
Top_10_ODI_Batsmen = pd.DataFrame(list(zip(bat_rank, bat_name, bat_team, bat_ratings)),
                              columns =['Position', 'Batsman Name', 'Team', 'Rating'],)
Top_10_ODI_Batsmen = Top_10_ODI_Batsmen.set_index('Position')


#Aligning text for better display
Top_10_ODI_Batsmen = Top_10_ODI_Batsmen.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th',
                                                                                          props=[('text-align', 'left')])])


#Show DataFrame
Top_10_ODI_Batsmen

#### c) Top 10 ODI bowlers along with the records of their team and rating.

In [11]:
top_odi_bowler_url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

In [12]:
#getting web content data
data_odi_bowl = requests.get(top_odi_bowler_url)
bs = BeautifulSoup(data_odi_bowl.content)

data_bowl = bs.find('table', class_="table rankings-table")

In [13]:
#Creating empty lists to store data
bowl_rank = []
bowl_name = []
bowl_team = []
bowl_ratings = []


#Intializing dummy variables for counting
x=0
y=0


#using for loop to scape data & appending to corresponding list
for i in range(10):
    if x==0:
        bowl_rank.append(data_bowl.find('span', class_="rankings-block__pos-number").text.strip(' ').strip('\n').lstrip())
        bowl_name.append(data_bowl.find('div', class_="rankings-block__banner--name-large").text)
        bowl_team.append(data_bowl.find('div', class_="rankings-block__banner--nationality").text.replace('\n', '').rstrip())
        bowl_ratings.append(data_bowl.find('div', class_="rankings-block__banner--rating").text)
    
    if x!=0:
        bowl_rank.append(data_bowl.find_all('span', class_='rankings-table__pos-number')[y].text.replace(" ", '').replace("\n", ''))
        bowl_name.append(data_bowl.find_all('td', class_="table-body__cell rankings-table__name name")[y].text.replace('\n', ''))
        bowl_team.append(data_bowl.find_all('span', class_="table-body__logo-text")[y].text)
        bowl_ratings.append(data_bowl.find_all('td', class_="table-body__cell rating")[y].text)
        y+=1
        
    x+=1
    if x==10:
        break


#Creating dataframe of gathered values:
Top_10_ODI_Bowler = pd.DataFrame(list(zip(bowl_rank, bowl_name, bowl_team, bowl_ratings)),
                              columns =['Position', 'Bowler Name', 'Team', 'Rating'],)
Top_10_ODI_Bowler = Top_10_ODI_Bowler.set_index('Position')


#Aligning text for better display
Top_10_ODI_Bowler = Top_10_ODI_Bowler.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th',
                                                                                          props=[('text-align', 'left')])])


#Show DataFrame
Top_10_ODI_Bowler

### 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

#### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [14]:
top_odi_team_women_url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [15]:
#getting web content data
data_odi_team = requests.get(top_odi_team_women_url)
bs = BeautifulSoup(data_odi_team.content)

data_team = bs.find('table', class_="table")
teams_data = data_team.find_all('tr')


#Creating empty lists to store data
team_rank = []
team_name = []
team_matches = []
team_points = []
team_ratings = []



#Intializing dummy variable for counting
x=1


#using for loop to scape data & appending to corresponding list 
for i in teams_data:
    if x!=1: #as first item is table header, we dont require it.
        team_rank.append(i.find_all('td')[0].text.replace(' ', '').strip('\n').replace('\n', ' ').split(' ')[0])
        team_name.append(i.find_all('td')[1].text.split('\n')[2])
        team_matches.append(i.find_all('td')[2].text.replace(' ', '').strip('\n').replace('\n', ' ').split(' ')[0])
        team_points.append(i.find_all('td')[3].text.replace(' ', '').strip('\n').replace('\n', ' ').split(' ')[0])
        team_ratings.append(i.find_all('td')[4].text.replace(' ', '').strip('\n').replace('\n', ' ').split(' ')[0])
    if x > 10: #as we only require top 10 teams, skipping all other.
        break  # Exiting loop
    x+=1
    
    
#Creating dataframe of gathered values:
Top_10_ODI_Teams = pd.DataFrame(list(zip(team_rank, team_name, team_matches, team_points, team_ratings)),
                              columns =['Position', 'Team Name', 'Matches', 'Points', 'Rating'],)
Top_10_ODI_Teams = Top_10_ODI_Teams.set_index('Position')



#Aligning text for better display
Top_10_ODI_Teams = Top_10_ODI_Teams.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th',
                                                                                          props=[('text-align', 'left')])])


#Show DataFrame
Top_10_ODI_Teams

#### b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [16]:
top_odi_batsmen_women_url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"

In [17]:
#getting web content data
data_odi_bat = requests.get(top_odi_batsmen_women_url)
bs = BeautifulSoup(data_odi_bat.content)

data_bat = bs.find('table', class_="table rankings-table")

In [18]:
#Creating empty lists to store data
bat_rank = []
bat_name = []
bat_team = []
bat_ratings = []


#Intializing dummy variables for counting
x=0
y=0


#using for loop to scape data & appending to corresponding list
for i in range(10):
    if x==0:
        bat_rank.append(data_bat.find('span', class_="rankings-block__pos-number").text.strip(' ').strip('\n').lstrip())
        bat_name.append(data_bat.find('div', class_="rankings-block__banner--name-large").text)
        bat_team.append(data_bat.find('div', class_="rankings-block__banner--nationality").text.replace('\n', '').rstrip())
        bat_ratings.append(data_bat.find('div', class_="rankings-block__banner--rating").text)
    
    if x!=0:
        bat_rank.append(data_bat.find_all('span', class_='rankings-table__pos-number')[y].text.replace(" ", '').replace("\n", ''))
        bat_name.append(data_bat.find_all('td', class_="table-body__cell rankings-table__name name")[y].text.replace('\n', ''))
        bat_team.append(data_bat.find_all('span', class_="table-body__logo-text")[y].text)
        bat_ratings.append(data_bat.find_all('td', class_="table-body__cell rating")[y].text)
        y+=1
        
    x+=1
    if x==10:
        break


#Creating dataframe of gathered values:
Top_10_ODI_Batsmen_Women = pd.DataFrame(list(zip(bat_rank, bat_name, bat_team, bat_ratings)),
                              columns =['Position', 'Batsman Name(Women)', 'Team', 'Rating'],)
Top_10_ODI_Batsmen_Women = Top_10_ODI_Batsmen_Women.set_index('Position')


#Aligning text for better display
Top_10_ODI_Batsmen_Women = Top_10_ODI_Batsmen_Women.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th',
                                                                                          props=[('text-align', 'left')])])
#Show DataFrame
Top_10_ODI_Batsmen_Women

#### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [19]:
top_odi_bowler_women_url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling"

In [20]:
#getting web content data
data_odi_bowl = requests.get(top_odi_bowler_women_url)
bs = BeautifulSoup(data_odi_bowl.content)

data_bowl = bs.find('table', class_="table rankings-table")

In [21]:
#Creating empty lists to store data
bowl_rank = []
bowl_name = []
bowl_team = []
bowl_ratings = []


#Intializing dummy variables for counting
x=0
y=0


#using for loop to scape data & appending to corresponding list
for i in range(10):
    if x==0:
        bowl_rank.append(data_bowl.find('span', class_="rankings-block__pos-number").text.strip(' ').strip('\n').lstrip())
        bowl_name.append(data_bowl.find('div', class_="rankings-block__banner--name-large").text)
        bowl_team.append(data_bowl.find('div', class_="rankings-block__banner--nationality").text.replace('\n', '').rstrip())
        bowl_ratings.append(data_bowl.find('div', class_="rankings-block__banner--rating").text)
    
    if x!=0:
        bowl_rank.append(data_bowl.find_all('span', class_='rankings-table__pos-number')[y].text.replace(" ", '').replace("\n", ''))
        bowl_name.append(data_bowl.find_all('td', class_="table-body__cell rankings-table__name name")[y].text.replace('\n', ''))
        bowl_team.append(data_bowl.find_all('span', class_="table-body__logo-text")[y].text)
        bowl_ratings.append(data_bowl.find_all('td', class_="table-body__cell rating")[y].text)
        y+=1
        
    x+=1
    if x==10:
        break


#Creating dataframe of gathered values:
Top_10_ODI_Bowler_Women = pd.DataFrame(list(zip(bowl_rank, bowl_name, bowl_team, bowl_ratings)),
                              columns =['Position', 'Bowler Name (Women)', 'Team', 'Rating'],)
Top_10_ODI_Bowler_Women = Top_10_ODI_Bowler_Women.set_index('Position')



#Aligning text for better display
Top_10_ODI_Bowler_Women = Top_10_ODI_Bowler_Women.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th',
                                                                                          props=[('text-align', 'left')])])


#Show DataFrame
Top_10_ODI_Bowler_Women

### 7) Write a python program to scrape mentioned news details from
### https://www.cnbc.com/world/?region=world

i) Headline ii) Time iii) News Link

In [22]:
news_site = "https://www.cnbc.com/world/?region=world"

#getting web content data
news_data = requests.get(news_site)
bs = BeautifulSoup(news_data.content)
main_news = bs.body.find('div', class_ = 'PageBuilder-pageWrapper')
links= main_news.find_all('div', class_='RiverHeadline-headline RiverHeadline-hasThumbnail')

In [23]:
#Creating empty lists to store data
news_links = []
news_titles = []
news_time = []


#using for loop to scape data & appending to corresponding list
for i in links:
    
    #using if-else separate pro-reader link before the news headline
    if i.find('a', class_="ProPill-proPillLink"):
        news_links.append(i.find('a').next_sibling['href'])
        news_titles.append(i.find('a').next_sibling.get_text())
        time_data = requests.get(i.find('a').next_sibling['href'])
        bs_time = BeautifulSoup(time_data.content)
        timing = bs_time.find('time')
        news_time.append(timing.get_text(separator=u' ').split(',')[1].strip())
    else:
        news_links.append(i.find('a')['href'])
        news_titles.append(i.find('a').get_text())
        time_data = requests.get(i.find('a')['href'])
        bs_time = BeautifulSoup(time_data.content)
        timing = bs_time.find('time')
        news_time.append(timing.get_text(separator=u' ').split(',')[1].strip())
        

#Creating dataframe of gathered values:
CNBC_Latest_News = pd.DataFrame(list(zip(news_titles, news_time, news_links)),
                              columns =['Headline', 'Published Time', 'News Link'],
                                      index=pd.RangeIndex(start=1, stop=(len(news_links)+1), name='Sr. No.'))



#Aligning text for better display
CNBC_Latest_News = CNBC_Latest_News.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th',
                                                                                          props=[('text-align', 'left')])])



#Show DataFrame
CNBC_Latest_News

### 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days. https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details :
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [24]:
articles_site = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

#getting web content data
articles_data = requests.get(articles_site)
soup = BeautifulSoup(articles_data.content)

In [25]:
#Creating empty lists to store data
titles = []
authors = []
publication_date = []
link = []


#using for loops to scape data & appending to corresponding list

for i in soup.find_all("h2"):
    titles.append(i.get_text())
    
for i in soup.find_all('p', class_="sc-1thf9ly-0 sc-1thf9ly-1 ljBYfY bIzabL"):
    authors.append(i.get_text())
    
for i in soup.find_all('span', class_="sc-1thf9ly-2 bKddwo"):
    publication_date.append(i.get_text())
    
for i in soup.find_all('li', class_="sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp"):
    link.append(i.find('a')['href'])
    
    
#Creating dataframe of gathered values:
Articles_List = pd.DataFrame(list(zip(titles, authors, publication_date, link)),
                              columns =['Paper_Title', 'Authors', 'Publication_Date', 'Link'],
                                      index=pd.RangeIndex(start=1, stop=(len(titles)+1), name='Sr. No.'))



#Aligning text for better display
Articles_List = Articles_List.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th',
                                                                                          props=[('text-align', 'left')])])
#Show DataFrame
Articles_List

### 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [26]:
rest_site = "https://www.dineout.co.in/delhi-restaurants"

#getting web content data
rest_data = requests.get(rest_site)
soup = BeautifulSoup(rest_data.content)

In [27]:
#Creating empty lists to store data
rest_name = []
cuisine = []
location = []
ratings = []
image_url = []


#using for loops to scape data & appending to corresponding list
for i in soup.find_all('div', class_="restnt-main-wrap clearfix"):
    
    #to fetch image url
    image_url.append(i.find('img')['data-src'])
    
    #to fetch ratings
    ratings.append(i.find('div', class_="restnt-rating rating-4").get_text())
    
    #to fetch location
    location.append(i.find('div', class_="restnt-loc ellipsis").get_text())
    x = i.find('div', class_="detail-info").find_all('a')
    
    k=0 ## dummy variable to count
    cuisine_inner = []  ## dummy list to store temporary values
    for j in x: ## for loop to append temporary values to dummy list
        cuisine_inner.append(j.get_text())
        k+=1
        
    cuisine.append(", ".join(cuisine_inner))  ##appending values of dummy list to final list - cuisine
    
    
    #to fetch name
    rest_name.append(i.find('div', class_="restnt-info cursor").find('a').get_text())
    

#Creating dataframe of gathered values:
Dineout_rest_List = pd.DataFrame(list(zip(rest_name, location, ratings, cuisine, image_url)),
                              columns =['Name of Restaurant', 'Location', 'Ratings', 'Cuisines', 'Image of Restaurant'],
                                      index=pd.RangeIndex(start=1, stop=(len(rest_name)+1), name='Sr. No.'))



#Aligning text for better display
Dineout_rest_List = Dineout_rest_List.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th',
                                                                                          props=[('text-align', 'left')])])
#Show DataFrame
Dineout_rest_List

### 10) Write a python program to scrape the details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank
ii) Publication
iii) h5-index
iv) h5-median

In [28]:
scholar_site = "https://scholar.google.com/citations?view_op=top_venues&hl=en"

#getting web content data
scholar_data = requests.get(scholar_site)
soup = BeautifulSoup(scholar_data.content)

In [29]:
#rank List to store ranks
rank = [x.get_text() for x in soup.find_all('td', class_='gsc_mvt_p')]

#publication List to store publication
publication = [x.get_text() for x in soup.find_all('td', class_='gsc_mvt_t')]


#h5_index List to h5-index
h5_index = []
for x in soup.find_all('td', class_='gsc_mvt_n'):
    for j in x.find_all('a'):
        h5_index.append(j.text)
        

#h5_median List to h5-median
h5_median = []
for x in soup.find_all('td', class_='gsc_mvt_n'):
    for j in x.find_all('span'):
        h5_median.append(j.text)
        

#Creating dataframe of gathered values:
Top_Publication = pd.DataFrame(list(zip(rank, publication, h5_index, h5_median)),
                              columns =['Rank', 'Publication', 'h5-index', 'h5-median'])


#setting rank column as index column
Top_Publication = Top_Publication.set_index('Rank')



#Aligning text for better display
Top_Publication = Top_Publication.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th',
                                                                                          props=[('text-align', 'left')])])
#Show DataFrame
Top_Publication